.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    border: 1px solid transparent;
    border-color: white;
    border-radius: 1rem;
}

.about_me {
    width: 100%;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.about_me-image {
    aspect-ratio: 1/1;
    border-radius: 2rem;
    overflow: hidden;
    background: linear-gradient(var(--color-bg-variant), transparent);
}

.about_content {
    padding: 2.4rem 5rem;
}

.about_content p {
    margin: 3rem 0 1rem;
    font-size: 1rem;
}

/* ========== MEDIA QUERIES =========== */
@media screen and (max-width: 2024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 1%;
        text-align: center;
    }

    .about_me {
        width: 50%;
        margin: 2rem auto 0rem;
    }
    
    .about_content p {
        margin: 1rem 0 1.5;
    }
}

@media screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 1%;
    }

    .about_me {
        width: 50%;
        margin: 2rem auto 4rem;
    }
    
    .about_content p {
        margin: 1rem 0 1.5;
    }
}

@media screen and (max-width: 480px){
    .about_me {
        width: 50%;
        margin: 0 auto 3rem;
    }

    .about_content {
        text-align: center;
    }

    .about_content p {
        margin: 1.5rem 0;
    }
    
    .about_me-image, .about_me {
        display: none;
    }

}