header {
    
    padding-top: 10rem;
    overflow: hidden; 
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.btns {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 10rem;
    height: 10rem;
    position: absolute;
    margin-top: 5rem;
    border-radius: 5rem 5rem 0 0;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.scroll_down {
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-white);
    transition: var(--transition);
    justify-content: center;
    bottom: 5rem;
    margin-top: 1rem;
    background: var(--color-bg-variant);
    color: var(--color-ehite);
}

.scroll_down:hover {
    background: var(--color-white);
    color: var(--color-bg-variant);
    border-color: transparent;
}

/* ========== MEDIA QUERIES =========== */
@media screen and (max-width: 1024px) {
    .header {
        height: 68vh;
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 100vh;
    }

    
}